:root {
    --ring-inset: ;
    --ring-offset-width: 0px;
    --ring-color: ;
    --ring-offset-color: ;
    --ring-shadow: 0 0 #0000;
    --primary-color: #1a1a1a;
    --secondary-color: rgb(255, 255, 255);
    --tertiary-color: rgb(243 244 246);
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    scroll-behavior: smooth;
    margin-block-start: 0;
    margin-block-end: 0;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color);
    box-shadow: inset rgba(0, 0, 0, 0.2) 0 0 10000px;
}

.fade-in {
    opacity: 0;
    animation: fade-in 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.fade-out {
    opacity: 1;
    animation: fade-out 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}