.layout {
    height: max-content;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    height: max-content;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    order: 2;
}

.nav {
    position: relative;
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    color: rgb(55 65 81);
    background-color: rgb(255 255 255);
    z-index: 1;
    order: 1;
}

.content {
    height: max-content;
    width: 100vw;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 80rem;
}

.title-container {
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10;
}

.logo {
    background-image: url("../public/icons/logo.png");
    background-position: center;
    background-size: 3rem;
    background-repeat: no-repeat;
    height: 4rem;
    width: 3.5rem;
    cursor: pointer;
}

.title {
    position: relative;
    display: flex;
    align-items: center;
    width: auto;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 800;
    line-height: 1;
    color: rgb(0 0 0);
    user-select: none;
}

.links {
    top: 0px;
    left: 0px;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-right: auto;
    margin-left: auto;
}

.link {
    margin-left: 1rem;
    margin-right: 1rem;
    position: relative;
    font-weight: 500;
    line-height: 1.5rem;
    color: rgb(75 85 99);
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-property: color, background-color, border-color,
        text-decoration-color, fill, stroke, opacity, box-shadow, transform,
        filter, backdrop-filter;
    cursor: pointer;
}

.link:hover {
    color: rgb(17 24 39);
}

.link-active {
    margin-left: 1rem;
    margin-right: 1rem;
    position: relative;
    font-weight: 500;
    line-height: 1.5rem;
    color: rgb(17 24 39);
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-property: color, background-color, border-color,
        text-decoration-color, fill, stroke, opacity, box-shadow, transform,
        filter, backdrop-filter;
    cursor: pointer;
}

.link-bar-container {
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: inline-block;
    width: 100%;
    height: 0.125rem;
    margin-bottom: -0.25rem;
    overflow: hidden;
}

.link-title {
    display: "block";
}

.link-bar {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    display: inline-block;
    width: 0%;
    height: 0.25rem;
    height: 100%;
    background-color: rgb(17 24 39);
    transition: width 0.5s;
}

.link-bar-active {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    display: inline-block;
    width: 100%;
    height: 0.25rem;
    height: 100%;
    background-color: rgb(17 24 39);
    transition: width 0.5s;
}

.button-container {
    position: relative;
    z-index: 10;
    display: inline-flex;
    align-items: center;
    margin-left: 0.75rem;
}

.book-button-container {
    display: none;
    border-radius: 0.375rem;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

.book-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.7rem;
    line-height: 1.5rem;
    font-weight: 500;
    line-height: 1.5rem;
    color: rgb(255 255 255);
    white-space: nowrap;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    border-radius: 0.375rem;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    cursor: pointer;
}

.book-button:hover {
    background-color: #0e0e0e;
}

.book-button:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    box-shadow: var(--ring-inset) 0 0 0 calc(2px + var(--ring-offset-width))
        var(--ring-color);
    --tw-ring-offset-width: 2px;
    box-shadow: 0 0 0 var(--ring-offset-width) var(--ring-offset-color),
        var(--ring-shadow);
    --ring-color: rgb(59 130 246);
}

.footer {
    background-color: var(--secondary-color);
    width: 100vw;
    order: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.footer-container {
    overflow: hidden;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-top: 2rem;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-links {
    display: flex;
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
    margin-left: -1.25rem;
    margin-right: -1.25rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 2rem;
}

.footer-link {
    display: flex;
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
    margin-left: -1.25rem;
    margin-right: -1.25rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
    color: rgb(156 163 175);
}

.footer-link:hover {
    color: rgb(107 114 128);
}

.footer-link-container {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.footer-socials {
    display: flex;
    margin-top: 2rem;
    margin-left: 1.5rem;
    justify-content: center;
    column-gap: 2rem;
}

.footer-social {
    color: rgb(156 163 175);
}

.footer-social:hover {
    color: rgb(107 114 128);
}

.footer-social-text {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.footer-social-icon {
    width: 1.5rem;
    height: 1.5rem;
}

.footer-copyright {
    margin-top: 2rem;
    color: #9ca3af;
    font-size: 1rem;
    line-height: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
}

.item-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    overflow: hidden;
}

.item-image {
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

.item-details {
    text-align: start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 0.25rem;
    width: 50%;
}

.item-details h1 {
    font-size: 1.4rem;
    text-align: start;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.item-details p {
    font-size: 0.8rem;
    text-align: start;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

// sm
@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }

    .item-container {
        width: auto;
    }
}

// md
@media (min-width: 768px) {
    .container {
        max-width: 768px;
        flex-direction: row;
    }

    .links {
        margin-left: -1.25rem; /* -20px */
        padding-top: 0px;
        padding-bottom: 0px;
        position: absolute;
    }

    .button-container {
        margin-left: 1.25rem; /* 20px */
    }

    .item-container {
        width: 50%;
    }
}

// lg
@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }

    .links {
        display: flex;
    }

    .book-button-container {
        display: inline-flex;
    }

    .button-container {
        justify-content: flex-end;
    }

    .footer-container {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .footer-links {
        column-gap: 5rem;
    }

    .footer-socials {
        column-gap: 3rem;
    }
}

// xl
@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}

// 2xl
@media (min-width: 1536px) {
    .container {
        max-width: 15360px;
    }
}